alertmanager:
  enabled: true 

pushgateway:
  enabled: false 

server:
  global:
    scrape_interval: 15s

extraScrapeConfigs: |
  - job_name: 'microservices'
      metrics_path: /metrics
      static_configs:
        - targets:
            - 'auth:5000'
            - 'api:5001'
            - 'frontend:5002'